<form [formGroup]="loginForm">

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
    <p *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
      Please provide username.
    </p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <p *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      Please provide a valid password.
    </p>
  </div>

  <button type="submit" (click)="onSubmit()">Log in</button>
  <p>New user? <a routerLink="/register">Register here</a></p>
</form>

