<form [formGroup]="registerForm">

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
    <p *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
      Please provide a valid username.
    </p>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <p *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
      Please provide a valid email.
    </p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <p *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
      Password needs to be at least 8 characters.
    </p>
  </div>

  <button type="submit" (click)="onRegister()">Register</button>
</form>


