<h3>{{ poll.pollTitle }}</h3>
<form (ngSubmit)="submitVotes()">
  <div *ngFor="let question of poll.questionList; let i = index" class="question-block">
    <p>{{ question.questionText }}</p>
    <div class="response-buttons">
      <button type="button" class="btn-red" (click)="voteOnQuestion(question, true)">
        <i class="fa fa-times-circle"></i> Red
      </button>
      <button type="button" class="btn-green" (click)="voteOnQuestion(question, false)">
        <i class="fa fa-check-circle"></i> Green
      </button>
    </div>
  </div>
  <button type="submit" class="btn-submit">Submit Votes</button>
</form>
